[push]
	default = matching
[core]
	autocrlf = input
[alias]
	# shortcuts
	st = status
	a = add
	cm = checkout master
	
	# plurals
	branches = branch -a
	stashes = stash list

	# logs
	graph = log --graph --oneline --decorate --all

	# help
	oops = reset --soft HEAD^
	fresh = "!git reset --hard HEAD && rm $(git ls-files --others --exclude-standard)"
	
	# clean up
	clean-local-branches = "!git branch --merged | egrep -v '(\\*|master)' | xargs git branch -d"
	clean-remote-branches = remote prune origin
